# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
.env/

# System files
.DS_Store
Thumbs.db

# Reports and large data
*.docx
*.pdf
*.csv
*.xlsx
*.zip
